.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none !important;
}

nav i {
  color: #1b9bcf !important;
}

.hLink {
  margin: 0 60px;
  color: #104773 !important;
  text-decoration: none !important;
  font-family: 'Cairo', sans-serif; 
}

#basic-nav-dropdown{
  color: #104773 !important;
  margin: -8px 0 0;
}

#basic-nav-dropdown:hover{
  color: #1b9bcf !important;
}

#dropItem{
  color: #104773 !important;
  font-size: 18px;
}

span.hLink{
  margin: 0 30px 0 5px;
} 

.hLink:hover {
  color: #1b9bcf !important;
}

button {
  padding : 10px 30px !important;
  width: 150px;
  background-color: #45a0ff !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer h4 , footer i {
  color: #104773;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

footer i:hover {
  color: #1b9bcf !important;
}

footer i {
  cursor: pointer;
  margin-right: 10px;
}